/*changes the root font-size to 16px for color contras*/
html{
  font-size: 16px;
}

body {
  font-family: 'Roboto', Helvetica, sans-serif;
  /* changes grey(128,128,128)-> (150,150,150) for colour contrast(Comfort level AAA - ratio 7.1:1 (black on grey)) */
  /*background-color: grey;*/
  background-color: rgb(160,160,160);
  margin: 0;
  padding: 0;
}
 /* changes grey(117,117,117)-> (85,85,85) for colour contrast(Comfort level AAA - ratio 7.1:1 (grey on white)) */
::placeholder{
  color: rgb(85,85,85);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Stick No Bills', 'Roboto', Helvetica, sans-serif;
}
/*changes the font-size to 19px for color contras (7.1:1)*/
button, label, li, p, input, footer{
  font-size: 1.2rem;
}


.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 1rem;
}

img {
  width: 100%;
}

.main-nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.main-nav ul li {
  flex: 1;
  text-align: center;
}

.main-nav ul li a {
  display: block;
  color: inherit;
  text-decoration: none;
  font-size: 1.25rem;
}

form input,
form textarea {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  padding: .5rem 1rem;
}

form textarea {
  min-height: 150px;
  max-height: 150px;
  height: 150px;
  resize: none;
}

form button {
  background: none;
  border: 2px solid black;
  padding: 1rem;
  text-transform: uppercase;
}

.site-footer {
  padding: 2rem 0;
}